*.csproj.user

/distributive
/build
/source/*.suo
/source/.vs
/source/packages
/source/Atom.Install/obj
/source/Client/Atom.Client/obj
/source/Client/Atom.Client.Desktop/obj
/source/Client/Atom.Client.VisualStudio/obj
/source/Design/Atom.Design/obj
/source/Design/Atom.Design.Common/obj
/source/Design/Atom.Design.Hosting/obj
/source/Design/Atom.Design.Reflection/obj
/source/Design/Atom.Design.Reflection.Binary/obj
/source/Design/Atom.Design.Reflection.Code/obj
/source/Design/Atom.Design.Services/obj
/source/Runtime/Atom.Runtime/obj
/source/Runtime/Atom.Runtime.Executor/obj
/source/Extensions/Atom.Design.Extension.Common/obj
/source/Extensions/Atom.Design.Extension.Desktop/obj
/source/Extensions/Atom.Runtime.Extension.Common/obj
/source/Extensions/Atom.Runtime.Extension.Desktop/obj
/source/Extensions/Atom.Runtime.Extension.Office/obj
/source/Templates/Atom.ActionLibrary/obj
/source/Templates/Atom.ActionDesigner/obj
/source/Templates/Atom.ConditionDesigner/obj
/source/Templates/Atom.DataTableDesigner/obj
/source/Templates/Atom.WorkflowDesigner/obj



