<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="modules" type="Atom.Configuration.ModulesSection, Atom"/>
  </configSections>
  <modules>
    <directories>
      <add path="modules"/>
    </directories>
  </modules>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
